*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
@font-face {
  font-family: "pingpongregular";
  src: url("../font/PingPongRegular.eot");
  src: url("../font/PingPongRegular.eot?#iefix") format("embedded-opentype"),
    url("../font/PingPongRegular.woff2") format("woff2"),
    url("../font/PingPongRegular.woff") format("woff"),
    url("../font/PingPongRegular.ttf") format("truetype"),
    url("../font/PingPongRegular.svg#PingPongRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif;  */
}

html {
  scroll-behavior: smooth;
  background-color: white;
}
:root {
  /* colors */
  --t-black: #1a202c;
  --t-gray: #425466;
  --bg-black: #111825;
  --bg-blue: #0068f1;
  /* --bg-blue: #2454fe; */
  /* --bg-blue: #0568fd; */
  --blue-white: #f5f5f7;
  --bg-white: #eff0f0;

  /* font sizes */
  --head: 4.5rem;
  --medium: 3.75rem;
  --normal: 1rem;
  --small: 0.94rem;

  /* animation */
  --x: 0;
  --y: 0;

  /* margin */
  --para-margin: 2rem;
  --content-margin: calc(var(--para-margin) * 2);
  --section-margin: calc(var(--para-margin) * 4);
}
.container {
  width: min(97%, 1550px);
  margin-inline: auto;
}
#cursor {
  width: 75px;
  height: 75px;
  pointer-events: none;
  border: 4px solid var(--t-black);
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 200px;
  scale: 0;
  transition: scale 0.25s ease;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cursor i {
  color: var(--t-black);
  font-size: var(--normal);
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 1.6rem; */
  padding-top: 1.6rem;
  padding-inline: 1.6rem;
}
/*.profile-div {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 0.5rem;
}*/
.profile-logo {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("../assets/logo 1.png");
  background-size: cover;
  /* border-radius: 20px; */
  align-self: start;
}
.profile-text {
  font-weight: 500;
  color: var(--t-black);
  font-size: 1.9rem;
  font-family: "Gloock", serif;
  /* font-weight: 500; */
  position: relative;
  user-select: none;
  /* background-color: yellow; */
}
.profile-text::after {
  content: "";
  width: 0.3325rem;
  height: 0.3325rem;
  border-radius: 50%;
  background-color: var(--t-black);
  position: absolute;
  bottom: -0.1rem;
  right: 0.1rem;
}
.menu-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: calc(var(--small) * 1);
  /* position: relative; */
}

.menu-list li a {
  color: var(--t-black);
  font-size: var(--small);
  font-weight: 300;
  /* font-weight: light; */
  padding: calc(var(--small) * 0.6) calc(var(--small) * 0.9);
  border-radius: 20px;
  border: 1px solid white;
  transition: all 0.4s ease;
  display: block;
}
/* .menu-list li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1px;
  background-color: var(--bg-blue);
  transition: all 0.2s ease;
} */
.menu-list li a:hover {
  /* border: 1px solid var(--bg-blue); 
     background: linear-gradient(to bottom, white, white) padding-box,
    linear-gradient(to bottom, #92bcf7 0%, #3b90ff 70%) border-box;
  border: 1.5px solid transparent; */
  transform: translate(0px, -4px);
  font-weight: 700;
}
/* .menu-list li a:hover:before {
  width: 60%;
} */
.button {
  padding: calc(var(--small) * 0.75) calc(var(--small) * 1.5);
  border-radius: 9px;
  background-color: var(--bg-black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  border: 1px solid var(--bg-black);
  /* border-bottom: 2px solid var(--t-gray); */
}
.button a {
  font-size: var(--small);
  color: rgb(255, 255, 255, 0.95);
  font-weight: 500;
  transition: all 0.4s ease;
}
.button:hover {
  background-color: transparent;
  border: 1px solid var(--t-gray);
  /* border-bottom: 2px solid var(--t-gray); */
}
.button:hover a {
  color: var(--bg-black);
}

/* home section */
.home {
  display: flex;
  align-items: center;
  height: 100dvh;
  justify-content: center;
}
.home-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-block: var(--content-margin);
}
.main-heading {
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "pingpongregular";
  font-size: var(--head);
  font-size: 10rem;
  color: var(--t-black);
  letter-spacing: -1.5px;
  font-weight: 700;
  line-height: 0.9;
  position: relative;
  z-index: 2;
  padding-block: var(--para-margin);
  background: -webkit-linear-gradient(-45deg, #304980 0%, #fca311 150%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-heading span {
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "pingpongregular";
  /* color: transparent;
  -webkit-text-stroke: 1px var(--t-black); */
}

.home-section p {
  font-size: var(--normal);
  color: var(--t-gray);
  line-height: 1.5;
  margin-bottom: var(--content-margin);
  font-weight: 300;
  position: relative;
  z-index: 3;
  width: 600px;
}
.home-section h3 {
  font-size: 1.5rem;
  color: var(--t-black);
  line-height: 1.5;
  font-weight: 700;
}
.home-section div {
  width: 25px;
  height: 40px;
  border: 2.5px solid var(--bg-black);
  border-radius: 15px;
  display: block;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section div div {
  width: 3px;
  height: 7px;
  border-radius: 10px;
  background-color: var(--bg-black);
  animation: shake 1.5s infinite ease;
}
@keyframes shake {
  0% {
    translate: 0% 3px;
  }
  50% {
    translate: 0% -3px;
  }
  100% {
    translate: 0% 3px;
  }
}

/* another file */
.card-section {
  background-color: var(--blue-white);
  padding-block: var(--section-margin);
  border-radius: 12px;
}
.main-card {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.03); */
  height: 200px;
  background-color: white;
}
.tab-bar {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 13px 13px;
  justify-content: flex-start;
  position: relative;
}

.tab-bar div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 7.5px;
  opacity: 0.7;
}
.tab-bar div:nth-of-type(1) {
  background-color: yellow;
  /* filter: drop-shadow(0px 0px 15px yellow) drop-shadow(0px 0px 7px yellow); */
}
.tab-bar div:nth-of-type(2) {
  background-color: var(--bg-blue);
  /* filter: drop-shadow(0px 0px 15px blue) drop-shadow(0px 0px 7px blue); */
}
.tab-bar div:nth-of-type(3) {
  background-color: rgb(252, 122, 122);
  /* filter: drop-shadow(0px 0px 15px rgb(252, 122, 122))
    drop-shadow(0px 0px 7px rgb(252, 122, 122)); */
}
.tab-bar p {
  color: rgb(255, 255, 255, 0.9);
  font-size: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-weight: 300;
  padding: 3px 20px;
  letter-spacing: 0.7px;
  border-radius: 12px;
}

/* background: linear-gradient(to bottom, rgb(53, 53, 53), rgb(40, 40, 40))
      padding-box,
    linear-gradient(to bottom, rgb(120, 120, 120) 0%, rgb(40, 40, 40) 60%)
      border-box;
  border: 0.5px solid transparent; */

.tab-card {
  overflow: hidden;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* about section */

.about-section {
  text-align: center;
  margin-top: var(--section-margin);
}
.about-section h3 {
  font-size: var(--medium);
  color: var(--t-black);
  line-height: 1.5;
  font-weight: 600;
}
.about-section p {
  font-size: var(--normal);
  color: var(--t-gray);
  line-height: 1.5;
  font-weight: 300;
}
