* {
  margin: 0px;
  padding: 0px;
  /* color: var(--color-1); */
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
  /* background-color: rgb(228, 248, 248); */
}
:root {
  /* colors */
  --t-black: #1a202c;
  --t-gray: #425466;
  --bg-black: #111825;
  --bg-blue: #0568fd;
  --blue-white: #f5f5f7;

  /* font sizes */
  --head: 4.5rem;
  --medium: 3.75rem;
  --normal: 1rem;
  --small: 0.9rem;

  /* animation */
  --x: 0;
  --y: 0;
}
.container {
  width: min(97%, 1500px);
  margin-inline: auto;
  background-color: white;
}

/* nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}
.profile-div {
  display: flex;
  align-items: center;
}
.profile-logo {
  width: calc(var(--small) * 2.8);
  height: calc(var(--small) * 2.8);
  background-color: rgb(37, 37, 37);
  background-image: url("../assets/profile.png");
  background-size: cover;
  border-radius: 20px;
}
.profile-text {
  margin-left: var(--normal);
  font-weight: 600;
  color: var(--t-black);
  font-size: 1rem;
  /* font-weight: 500; */
}
.menu-div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu-list {
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu-list a {
  margin-left: calc(var(--small) * 2);
  color: var(--t-black);
  font-size: var(--small);
  font-weight: 400;
}
.contact-button {
  border: none;
  padding: calc(var(--small) * 0.8) calc(var(--small) * 2);
  margin-left: calc(var(--small) * 2);
  border-radius: 30px;
  background-color: var(--bg-blue);
  cursor: pointer;
  border: 1px solid var(--bg-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
}
.contact-button a {
  font-size: var(--small);
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: all 0.1s ease;
}
.contact-button:hover {
  background-color: transparent;
}
.contact-button:hover a {
  color: var(--bg-blue);
}

/* home section */
.home-section {
  text-align: center;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.main-heading {
  font-size: var(--head);
  color: var(--t-black);
  letter-spacing: -1.5px;
  font-weight: 600;
  line-height: 1.1;
  position: relative;
  z-index: 2;
  /* background-color: yellow; */

  /* position: relative; */
  /* background-color: aqua; */
  /* background-color: aqua; */
}
.main-heading i {
  content: "";
  position: absolute;
  font-size: 25rem;
  top: 0px;
  left: -20px;
  color: var(--bg-blue);
  /* transform: scale(-1, 1); */
  filter: blur(60px);
  animation: shake 4s ease infinite;
  z-index: 1;

  /* background-color: yellow; */
}

.home-section p {
  font-size: var(--normal);
  color: var(--t-gray);
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-weight: 500;
  position: relative;
  z-index: 3;
  /* background-color: aqua; */
}

.animation-box {
  width: calc(1416px / 4);
  height: calc(708px / 4);
  position: relative;
  margin-inline: auto;
  transform-style: preserve-3d;
  transform: perspective(1800px) rotateX(var(--y)) rotateY(var(--x));
  z-index: 10;
  background-color: transparent;
}
.ani {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(92, 92, 92);
  /* border-block: 1px solid rgb(119, 119, 119); */
  border: 2px solid rgb(120, 120, 120);
  border-radius: 10px;
}
.animation-box div:nth-child(1) {
  background-image: url(../assets/mainpic.png);
  /* background-color: rgb(10, 10, 10); */
  transform: translateZ(0px);
  background-size: cover;
  border: 2px solid rgb(120, 120, 120);
}
.animation-box div:nth-child(2) {
  transform: translateZ(-1px);
}
.animation-box div:nth-child(3) {
  transform: translateZ(-2px);
}
.animation-box div:nth-child(4) {
  transform: translateZ(-3px);
}
.animation-box div:nth-child(5) {
  transform: translateZ(-4px);
}
.animation-box div:nth-child(6) {
  transform: translateZ(-5px);
}
.animation-box div:nth-child(7) {
  transform: translateZ(-6px);
}
.animation-box div:nth-child(8) {
  transform: translateZ(-7px);
}
.animation-box div:nth-child(9) {
  transform: translateZ(-8px);
}
.animation-box div:nth-child(10) {
  transform: translateZ(-9px);
}

@keyframes shake {
  0% {
    transform: translate(0px, -10px) rotate(-10deg) scale(-1, 1);
  }

  50% {
    transform: translate(0px, 10px) rotate(-30deg) scale(-1, 1);
  }

  100% {
    transform: translate(0px, -10px) rotate(-10deg) scale(-1, 1);
  }
}
