*,
::after,
::before {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  /* width: calc(100vw - (100vw - 100%)); */
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif;  */
}

html {
  scroll-behavior: smooth;
  /* background-color: white; */
  background-color: var(--bg-white);
}
:root {
  /* colors */
  /* --t-black: #1a202c; */
  --t-black: #1e1e1e;

  --t-gray: #425466;
  --bg-black: #111825;
  --bg-blue: #0068f1;
  --blue-white: #f5f5f7;
  /* --bg-white: #f0f0f0; */
  --bg-white: white;

  /* font sizes */
  --head: 4.5rem;
  --medium: 4rem;
  --normal: 1rem;
  --small: 0.94rem;

  /* animation */
  --x: 0;
  --y: 0;

  /* margin */
  --para-margin: 2rem;
  --content-margin: calc(var(--para-margin) * 2);
  --section-margin: calc(var(--para-margin) * 4);
}
#container {
  width: min(95%, 1400px);
  margin-inline: auto;
  z-index: 1;
  position: relative;
}
#cursor {
  width: 75px;
  height: 75px;
  pointer-events: none;
  border: 4px solid var(--t-black);
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 200px;
  scale: 0;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 0.95, 0.15, 0.98),
    scale 0.5s cubic-bezier(0, 0.95, 0.15, 0.98),
    top 3s cubic-bezier(0, 0.95, 0.15, 0.98),
    left 3s cubic-bezier(0, 0.95, 0.15, 0.98);
  background-color: var(--bg-white);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cursor svg {
  color: var(--t-black);
  font-size: 1.5rem;
}

.watermark-text {
  font-size: 37rem;
  display: block;
  position: absolute;
  color: rgba(0, 0, 0, 0.015);
  font-weight: 900;
  pointer-events: none;
  top: 50%;
  left: 50%;
  width: max-content;
  transform: translate(-50%, -50%);
}

/* SECTION nav bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-block: 1.6rem; */
  padding-top: 1.6rem;
  padding-inline: 1.6rem;
  width: 100%;
  z-index: 10;
  overflow-x: hidden;
}
.profile-text {
  font-weight: 500;
  font-size: 1.9rem;
  font-family: "Gloock", serif;
  /* font-weight: 500; */
  position: relative;
  cursor: pointer;
}
.profile-text a {
  color: var(--t-black);
}
.profile-text::after {
  content: "";
  width: 0.3325rem;
  height: 0.3325rem;
  border-radius: 50%;
  background-color: var(--t-black);
  position: absolute;
  bottom: -0.1rem;
  right: 0.1rem;
}
.menu-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: calc(var(--small) * 1);
  /* position: relative; */
}

.menu-list li a {
  color: var(--t-black);
  font-size: var(--small);
  font-weight: 300;
  /* font-weight: light; */
  padding: calc(var(--small) * 0.6) calc(var(--small) * 0.9);
  border-radius: 20px;
  transition: all 0.4s ease;
  display: block;
}
.menu-list li a:hover {
  /* border: 1px solid var(--bg-blue); 
     background: linear-gradient(to bottom, white, white) padding-box,
    linear-gradient(to bottom, #92bcf7 0%, #3b90ff 70%) border-box;
  border: 1.5px solid transparent; */
  transform: translate(0px, -4px);
  font-weight: 700;
}
.button {
  padding: calc(var(--small) * 0.75) calc(var(--small) * 1.5);
  border-radius: 9px;
  background-color: var(--bg-black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
  border: 1px solid var(--bg-black);
  /* border-bottom: 2px solid var(--t-gray); */
}
.button a {
  font-size: var(--small);
  color: rgb(255, 255, 255, 0.95);
  font-weight: 500;
  transition: all 0.4s ease;
}
.button:hover {
  background-color: transparent;
  border: 1px solid var(--t-gray);
  /* border-bottom: 2px solid var(--t-gray); */
}
.button:hover a {
  color: var(--bg-black);
}

/* SECTION home section */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh-60px) !important;
  /* margin-top: -3.75rem;
  padding-top: 3.75rem; */
  overflow: hidden;
  position: relative;
  width: 100%;
}
.home-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: var(--content-margin);
  /* padding-block: var(--section-margin); */
}
.main-heading {
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  font-size: clamp(4rem, 15vw, 8rem);
  color: var(--t-black);
  letter-spacing: -2px;
  font-weight: 900;
  line-height: 0.9;
  position: relative;
  /* z-index: 2; */
  color: var(--t-black);
  margin-block: var(--para-margin);
  /* background: -webkit-linear-gradient(
    to right,
    #03001e 0%,
    #7303c0 25%,
    #ec38bc 50%,
    #fdeff9 100%
  );
  background: -moz-linear-gradient(to top right, #7303c0 0%, #9553c2 100%);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.home-section p {
  font-size: var(--normal);
  color: var(--t-gray);
  line-height: 1.5;
  margin-bottom: var(--content-margin);
  font-weight: 300;
  position: relative;
  /* z-index: 3; */
  width: min(90%, 600px);
}
.home-section h3 {
  font-size: 1.2rem;
  /* font-size: clamp(1rem, 4.444vw, 1.2rem); */
  display: block;
  max-width: 80%;
  color: var(--t-gray);
  /* color: var(--t-black); */
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.home-section div {
  width: 25px;
  height: 40px;
  border: 2.5px solid var(--bg-black);
  border-radius: 15px;
  display: block;
  background-color: var(--bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-section div div {
  width: 3px;
  height: 7px;
  border-radius: 10px;
  background-color: var(--bg-black);
  animation: shake 1.5s infinite ease;
}
@keyframes shake {
  0% {
    translate: 0% 3px;
  }
  50% {
    translate: 0% -3px;
  }
  100% {
    translate: 0% 3px;
  }
}

/* SECTION about section */

.about-bg {
  /* background-color: var(--blue-white); */
}
.about-section {
  /* background-color: yellow; */
  padding-block: var(--section-margin);
  /* display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--content-margin) * 3 / 4); */
  overflow: hidden;
}
.about-text {
  /* background-color: var(--blue-white); */
  padding-inline: var(--content-margin);
  padding-bottom: var(--content-margin);
  /* background-color: yellow; */
}
.about-text h5 {
  color: var(--bg-blue);
  margin-bottom: calc(var(--para-margin) / 2);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 4px;
  opacity: 0.8;
  /* line-height: 1.5; */
}
.about-text h3 {
  font-size: var(--medium);
  font-size: clamp(3rem, 13.33vw, 4rem);
  color: var(--t-black);
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--para-margin);
  /* margin-bottom: var(--section-margin); */
}
.about-text p {
  font-size: var(--normal);
  color: var(--t-gray);
  line-height: 1.5;
  font-weight: 300;
  letter-spacing: 0.3px;
}
.about-card {
  padding-inline: var(--content-margin);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(var(--para-margin) / 4 * 3);
  grid-auto-rows: 1fr;
}
.card {
  background-color: var(--blue-white);
  padding: var(--para-margin);
}
.card svg {
  font-size: 2.5rem;
  color: var(--t-black);
  /* color: var(--bg-blue); */
}
.card:first-child svg {
  rotate: -45deg;
}

.card h6 {
  color: var(--t-black);
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: var(--content-margin);
  margin-bottom: calc(var(--para-margin) / 2);
  line-height: 1;
}
.card p {
  color: var(--t-gray);
  font-size: var(--normal);
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (max-width: 1000px) {
  .menu-list {
    visibility: hidden;
  }
  nav .button {
    visibility: hidden;
  }
}
@media screen and (max-width: 470px) {
  .about-text {
    padding-inline: calc(var(--para-margin) / 1.5);
  }
}
@media screen and (max-width: 1120px) {
  .about-card {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 950px) {
  .about-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 620px) {
  .about-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 400px) {
  .about-card {
    padding-inline: var(--para-margin);
  }
}
