* {
    margin: 0px;
    padding: 0px;
    /* color: var(--color-1); */
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;  */
}
html{
    scroll-behavior: smooth;
    /* background-color: rgb(228, 248, 248); */
}
:root {
    /* colors */
    --t-black:#1A202C;
    --t-gray:#718096;
    --bg-black:#111825;
    --blue-white:#F5F5F7;

  
    /* font sizes */
    --head: 4.5rem;
    --medium: 3.75rem;
    --normal: 1rem;
    --small: 0.85rem;

    /* animation */
    --x:0;
    --y:0;
}
.container{
    width: min(97%,1300px);
    margin-inline: auto;
    background-color: white;   
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.7rem;
    
}
.profile-div{
    display: flex;
    align-items: center;
}
.profile-logo{
    width: 42px;
    height: 42px;
    background-color: rgb(37, 37, 37);
    background-image: url(../assets/profile.png);
    background-size: cover;
    border-radius: 20px;
}
.profile-text{
    margin-left: 15px;
    font-weight: 400;
    color: var(--t-black);
}
.menu-div{
    display: flex;
    justify-content: end;
    align-items: center;
   
 
}
.menu-list{
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu-list a{
    margin-right: 60px;
    color: var(--t-black);
    font-size: var(--small);

}
.contact-button{
    border: none;
    padding: 14px 60px;
    border-radius: 30px; 
    background-color: var(--bg-black);
}
.contact-button a{
    font-size: var(--small);
    color: white;
}

/* home section */
.home-section{
    align-items: center;
    text-align: center;
    margin-top: 3.7rem; 
}
.main-heading{
    font-size: var(--head);
    color: var(--t-black);
    font-weight: 300;
    letter-spacing: -3px;
    /* text-align: center; */

}
.main-heading span{
    font-weight: 600;
}
.home-section p{
    font-size: var(--normal);
    color: var(--t-gray);
    line-height: 20px;
    margin-top: 20px;
}
.home-element{
    background-image: url(../assets/thunder.svg);
    background-size: cover;
    background-color: aqua;
    width: 250px;
    height: 250px;
    margin-inline: auto;
    margin-block: 4.7rem;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(var(--y)) rotateY(var(--x));
}